body{
    font-family: "Comic Sans Ms";
    font-size: 14px;
}
img{
	float: left; 
	width: 150px;
	margin: 30px;
}
table{
	float: right;
}
.element{
	border: 1px solid black;
}
#editer{
	float: right;
}
