body{
    font-family: "Comic Sans Ms";
    font-size: 14px;
}
img{
	float: left; 
	height: 70px;
	margin: 5px;
}
table{
	float: right;
}
.element{
	border: 1px solid black;
}
#editer{
	float: right;
}
